__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/
.env
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
logs/*.log
data/interim/*
data/outputs/videos/*
data/outputs/csv/*
data/outputs/figures/*
!data/outputs/videos/.gitkeep
!data/outputs/csv/.gitkeep
!data/outputs/figures/.gitkeep
